<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="UTF-8">
  <title>VPN_project</title>

  <div class="menu">
    <ul>
      <li><a href="#">Купить VPN</a></li>
      <li><a href="#">Скачать</a></li>
      <li class="end"><a href="#">Помощь</a></li>
    </ul>
    <ul class="login">
      <li class="end"><a href="#">Вход</a></li>
    </ul>

  </div>

</head>

<body>

<div class="titleH main inline" >
 
  <div class="leftTitle ">
    <ul>
      <li><img src="img/protocol.png" alt=""><h2>WireGuard протокол</h2></li>
      <li><h3>Бесплатное программное обеспечение с открытым исходным кодом, реализующее зашифрованные виртуальные частные сети.</h3></li>

      <li><img src="img/dns.png" alt=""><h2>Защита от утечки DNS</h2></li>
      <li><h3>При DNS-утечке ваш интернет-трафик становится уязвимым к мониторингу, так как провайдер может просматривать ваши DNS-запросы.</h3></li>
    </ul>
      
    <ul>
      <li><img src="img/block.png" alt=""><h2>Блокировка рекламы (Pi-hole)</h2></li>
      <li><h3>Блокировка рекламы и трекеров по средствам блоировки DNS и DHCP запросов.</h3></li>

      <li><img src="img/anonim.png" alt=""><h2>Анонимность</h2></li>
      <li><h3>Мы не собираем логи не храним ваши персональные данные!</h3></li>
    </ul>  
      
    
  </div>

  
  <br>
</div>

  <div class="main inline">
    <h1 class="tarif_tittle">Тарифы VPN</h1>
    <div class="left-block">
      <div class="text-by">
        <h2>3 дня</h2>
          <h1>0 ₽</h1>
          <h2>За 3 дня</h2>
          <h2>~</h2>
         
      </div>
      
      <button class="button1">Оплатить</button>
    </div>
    <div class="content">
      <div class="text-by">
          <h2>1 месяц</h2>
          <h1>250 ₽</h1>
          <h2>в месяц</h2>
          <h2>~</h2>
      </div>
      
      <button class="button1">Оплатить</button>
    </div>
    <div class="right-block">

      <div class="text-by">
          <h2>3 месяца</h2>
          <h1>200 ₽</h1>
          <h2>в месяц</h2>
          <h3>600 ₽ на 3 месяца</h3>
      </div>
      
      <button class="button1">Оплатить</button>
    </div>
    <div class="right-block2">

      <div class="text-by">
          <h2>6 месяцев</h2>
          <h1>150 ₽</h1>
          <h2>в месяц</h2>
          <h3>900 ₽ на 6 месяцев</h3>
      </div>
      
      <button class="button1">Оплатить</button>
    </div>
  </div>
</body>
</html>

